.heroContainer {
    min-height: 100vh;
    background: #222;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Ensure text stays readable on smaller screens */
.hero-title {
    font-size: 52px;
    color: #fff;
    font-family: "Inter", sans-serif;
    max-width: 50%;
    margin-bottom: 16px;
    margin-top: 70px;
    text-align: center;
    font-weight: 600;
}

.hero-subtitle {
    font-size: 18px;
    color: #A8A8A8;
    font-family: "Inter", sans-serif;
    max-width: 600px;
    margin: 0;
    margin-bottom: 36px;
    text-align: center;
    font-weight: 500;
}


.getStartButton {
  background: #F8DD00;
  padding: 12px 32px;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block; /* Prevent full-width */
}

.getStartButtonText {
  font-size: 14px;
  margin: 0;
}


/* Ensure image scales properly */
.hero-logo {
    width: 900px;
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.3));
    animation: floating 3s ease-in-out infinite;
    margin-top: 32px;

}

/* Floating effect */
@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* Responsive Design */
@media (max-width: 768px) {
    .heroContainer {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        font-size: 18px;
        width: 90%;
        text-align: center;
        margin-right: 0px;
    }

    .hero-logo {
        max-width: 200px;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .hero-text {
        font-size: 20px;
        margin: 0;
        margin-bottom: 50px;
    }

    .hero-logo {
        max-width: 180px;
        margin: 0;
    }
}
