.about-wrapper {
  padding: 40px 20px;
  background: #15202B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.about-title {
  font-size: clamp(24px, 6vw, 40px);
  color: #fff;
  font-family: "Inter", sans-serif;
  margin-top: 16px;
  margin-bottom: 60px;
  max-width: 400px;
}

/* Container */
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.about-texts {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

/* Headings */
.about-header {
  font-size: 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 12px;
}

/* Text */
.about-text {
  font-size: 16px;
  color: #A1C1D8;
  font-family: "Inter", sans-serif;
  max-width: 480px;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
}

/* Images */
.about-logo {
  max-width: 612px;
  object-fit: contain;
  flex-shrink: 0;
}

.universe-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin-bottom: 20px;
}

/* Button */
.about-getStartButton {
  background: #F8DD00;
  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  max-width: fit-content;
}

.about-getStartButtonText {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

/* Media Queries */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }

.about-logo {
    max-width: 100%;
  }

  .about-text {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .about-wrapper {
    padding: 20px 12px;
  }

  .aboutContainer {
    flex-direction: column-reverse;
  }

  .about-title {
    max-width: 90%;
  }

  .aboutContainer.image-last {
    flex-direction: column;
  }

.about-logo {
    max-width: 100%;
  }


  .about-getStartButton {
    margin: 0;
  }
}
