.header {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 12px 0;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 33px;
  height: 24px;
}

.logo-text {
  color: #fff;
  margin-left: 8px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.getStartButton {
  background: #F8DD00;
  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
}

.getStartButtonText {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

/* Tablet */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 4vw;
  }

  .getStartButton {
    margin-top: 10px;
    padding: 10px 20px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .logo {
    width: 28px;
    height: auto;
  }

  .logo-text {
    font-size: 16px;
  }

  .getStartButtonText {
    font-size: 13px;
  }
}
