.screenshort-container {
    background: #15202B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
}

/* Default phone styling */
.screenshort-phone {
    width: 100%;
    height: auto;
}




/* ✅ RESPONSIVE ADJUSTMENTS */
@media (max-width: 768px) {
    /* Reduce phone size for tablets & small screens */
    .screenshort-container {
        flex-direction: column;
        max-width: 100vw;
        overflow-x: hidden;
            padding: 20px;

    }
}

@media (max-width: 480px) {
    /* Adjust layout for mobile phones */
    .screenshort-container {
        flex-direction: column;
        max-width: 100vw;
        overflow-x: hidden;
            padding: 20px;

    }

}
